<script>
    function display(){
        var result = '';
        $(data).each(function(index, item){
            result += '<div class="col mb-5">'
            result += '<div class="card h-100">'
            result += '<img class="card-img-top"' + 'src="/static/img/food1.jpg"' + 'alt="..." />'
            result += '<div class="card-body p-4">'
            result += '<div class="text-center">'
            result += '<h5 class="fw-bolder">' + item.name + '</h5>'
            result += '<div class="d-flex justify-content-center small text-warning mb-2">'
            result += '<div class="bi-star-fill"></div>'
            result += '</div>'
            result += '<div>###명이 리뷰했어요</div>'
            result += '</div>'
            result += '</div>'
            result += '<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">'
            result += '<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/restDetail">View details</a></div>'
            result += '<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/restDetail">View details</a></div>'
            result += '</div>'
            result += '</div>'

        });
        $("#restaurant").html(result);
    };

    function getdata(){
       $.ajax({
            url:'ajaximpl',
            success:function(data){
                display(data);
            }
        })
    };

    $(document).ready(function(){
            getdata();
    });
</script>
<section>
    <div></div><div id="restaurant"></div>
</section>

