<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 상담 게시판</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{%static 'css/css.css'%}" rel="stylesheet" />
    <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        var idx = 0;                        // 데이터 뿌리는 시작 인덱스(0이면 제일 최신 데이터) (변동)
        var page = 1;                           // 화면 뜨면 1페이지로 setting (변동)
        var cnt = {{count}};                // 게시판 데이터 갯수 (고정)
        if (cnt % 5 == 0){
            var pages = parseInt(cnt/5);    // 게시판 페이지 수 계산 (고정)
            var remain = 5;                 // 게시판 마지막 페이지 데이터 갯수 (고정)
        } else {
            var pages = parseInt(cnt/5) + 1;
            var remain = cnt % 5;
        }

        // 데이터 출력
       function display(data){
            results = ''
            results = '<div class="top">';
            results += '<div class="num">번호</div>';
            results += '<div class="title">제목</div>';
            results += '<div class="writer">글쓴이</div>';
            results += '<div class="date">작성일</div>';
            results += '</div>';
            $(data).each(function(index, item){
                var result = '';
                result += '<div>';
                result += '<div class="num">' + item.id + '</div>';
                result += '<div class="title"><a href="/board/g/'+item.id+'">' + item.title + '</a></div>';
                result += '<div class="writer">' + item.cust_id + '</div>';
                result += '<div class="date">' + item.regdate + '</div>';
                result += '</div>'
                results += result;
            $('#board_list').html(results);
            });
        }

        // 해당하는 index와 page 정보로 데이터 가져오기
        function getData(i, p){
            if (p == pages){
                var getcnt = remain;
            } else {
                var getcnt = 5
            }
            // alert('page'+page+' / '+'pages'+pages);
            $.ajax({
                url: '/board/listview/'+i+'/'+getcnt,
                success: function(data){
                    display(data);
                }
            });
        }

        // 첫 페이지
        function getFirst(){
            if (idx == 0){
                alert('첫 페이지입니다.');
                return;
            }
            idx = 0;
            page = 1;
            getData(idx, page);
            currentPage();
        }

        // 이전 페이지
        function getPrevious(i, p){
            if (i == 0){
                alert('첫 페이지입니다.');
                return;
            }
            idx = i - 5;
            page = p - 1;
            getData(idx, page);
            currentPage();
        }

        // 다음 페이지
        function getNext(i, p){
            if (p == pages){
                alert('마지막 페이지입니다.');
                return;
            }
            idx = i + 5;
            page = p + 1;
            getData(idx, page);
            currentPage();
        }

        // 마지막 페이지
        function getLast(){
            if (page == pages){
                alert('마지막 페이지입니다.');
                return;
            }
            idx = pages * 5 - 5     // 마지막 페이지 시작 인덱스 계산
            page = pages;
            getData(idx, page);
            currentPage();
        }
        // 각 페이지 버튼 클릭 시 해당 페이지로 이동
        function getPage(i){
            idx = i * 5 - 5         // 해당페이지 시작 인덱스 계산
            page = i;
            getData(idx, page);
            currentPage();
        }

        // 페이지 수에 맞게 페이지 버튼 생성
        function makePageButton(){
            results = '';
            for (var i=1; i<pages+1; i++){
                result = '';
                result += '<a href="#" id="num' + i + '" onclick="getPage(' + i + ');" class="num">'
                result += i;
                result += '</a>';
                results += result;
            }
            $('#page_list').html(results);
        }

        // 페이지 버튼에 현재 페이지 표시
        function currentPage(){
            for (var i=1; i<pages+1; i++){
                var id = '#num' + i;
                if (i == page){
                    $(id).addClass('on');
                } else {
                    $(id).removeClass('on')
                }
            }
        }

        $(document).ready(function(){
            getData(idx, page);
            makePageButton();
            currentPage();
        });
    </script>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            {% if request.session.sessionid == None %}
                <span></span>
            {% else %}
                <a href="/profile/{{request.session.sessionid}}" style="color:white; text-decoration:none; vertical-align:middle;">
                    <img class="card-img-top" style="vertical-align:middle; display:block; width: 50px; height:50px;" src="/static/img/{{request.session.sessionimg}}" alt="..." />
                </a>
                <span>&nbsp;&nbsp;{{request.session.sessionid}}</span>
            {% endif %}
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.session.sessionid == None %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout" style="white-space:nowrap; margin-right:15px;">로그아웃</a></li>
                    </ul>
                {% endif %}
                <ul style="width:40rem"></ul>
                <form class="d-flex">
                    <a class="navbar-brand" href="/"><img class="card-img-top" style="width: auto; height: 50px;" src="/static/img/images.png" alt="..." /></a>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/faq">자주 묻는 질문</a></li>
                            <li><a class="dropdown-item" href="/live_chat">실시간 채팅 상담</a></li>
                            <li><a class="dropdown-item" href="/board">고객 상담 게시판</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="board_wrap">
        <div class="board_title">
            <strong>고객 상담 </strong>
            <p>답변을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_list_wrap">
            <div id="board_list" class="board_list">
            <!--ajax로 리스트 뿌리는 곳-->
            </div>
            <div class="board_page">
                <a href="#" class="bt first" onclick="getFirst();"><<</a>
                <a href="#" class="bt prev" onclick="getPrevious(idx, page);"><</a>
                <div id="page_list" style="display:inline;">
                    <!--Page 번호 뿌려지는 곳-->
                    <a href="#" class="num on">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="num">4</a>
                    <a href="#" class="num">5</a>
                </div>
                <a href="#" class="bt next" onclick="getNext(idx, page);">></a>
                <a href="#" class="bt last" onclick="getLast();">>></a>
            </div>
            {% if request.session.sessionid != none %}
            <div class="bt_wrap">
                <a href="/board/iv" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 