<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
{%load static%}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                {% if request.session.sessionid == None %}
                    <span></span>
                {% else %}
                    <a href="/profile/{{request.session.sessionid}}" style="color:white; text-decoration:none; vertical-align:middle;">
                        <img class="card-img-top" style="vertical-align:middle; display:block; width: 50px; height:50px;" src="/static/img/{{request.session.sessionimg}}" alt="..." />
                    </a>
                    <span>&nbsp;&nbsp;{{request.session.sessionid}}</span>
                {% endif %}
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if request.session.sessionid == None %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout" style="white-space:nowrap; margin-right:15px;">로그아웃</a></li>
                        </ul>
                    {% endif %}
                    <ul style="width:40rem"></ul>
                    <form class="d-flex">
                        <a class="navbar-brand" href="/"><img class="card-img-top" style="width: auto; height: 50px;" src="/static/img/images.png" alt="..." /></a>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/faq">자주 묻는 질문</a></li>
                                <li><a class="dropdown-item" href="/live_chat">실시간 채팅 상담</a></li>
                                <li><a class="dropdown-item" href="/board">고객 상담 게시판</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
<!--        <header class="bg-dark py-5" src="/static/img/burger.jpg">-->
        <header class="bg-picture py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
<!--                    <form class = "input-box" action="http://127.0.0.1/search" method="GET">-->
<!--&lt;!&ndash;                        차후 데이터와 검색 연동 진행&ndash;&gt;-->
<!--                        <input type="text" style="width:50rem; font:bold; font-size:15pt; color:white;" placeholder="검색어 또는 태그 입력">-->
<!--                        <button class="forgot-main" type="submit">Search</button>-->
<!--&lt;!&ndash;                        <a href="/search" style="font:bold; color:white; text-decoration:none"></a>&ndash;&gt;-->
<!--                    </form>-->
<!--&lt;!&ndash;                    음식점 태그&ndash;&gt;-->
<!--                    <p class="lead fw-normal text-white-50 mb-0">-->
<!--                        <a class="text-white mb-0" href="#!">#tag</a>-->
<!--                        <a class="text-white mb-0" href="#!">#tag</a>-->
<!--                        <a class="text-white mb-0" href="#!">#tag</a>-->
<!--                        <a class="text-white mb-0" href="#!">#tag</a>-->
<!--                        <a class="text-white mb-0" href="#!">#tag</a>-->
<!--                    </p>-->
                </div>
            </div>
        </header>

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;   ctrl + /     -->
    <section class="p-5">
        <div class="m-5" style="position:absolute; left:50%; transform:translateX(-50%); width:50%;">
            <header class="container" style="text-align:center; width:100%;">
                <h3 style="white-space:nowrap;">로그인</h3>
            </header>
            <form action="loginimpl" method="POST" style="text-align:center;">
                {% csrf_token %}
                <div class="input-box">
                    <input id="custid" type="text" name="custid" placeholder="아이디" autocomplete="off" required>
                    <label for="custid">아이디</label>
                    <div class="p-1" style="text-align:right">
                        <button class="forgot" id="forgotid" style="text-align:right; width:85px;" type="button">아이디찾기</button>
                    </div>
                </div>
                <div class="input-box">
                    <input id="custpw" type="password" name="custpw" placeholder="비밀번호" autocomplete="off" required>
                    <label for="custpw">비밀번호</label>
                    <div class="p-1" style="text-align:right">
                        <button class="forgot" id="forgotpw" style="text-align:right; width:85px;" type="button">비밀번호찾기</button>
                    </div>
                </div>

                <div class="p-2" style="position:absolute; left:50%; transform:translateX(-50%); width:100%;">
                    <input type="submit" value="로그인" style="width:80%">
                </div>
            {% if center != None %}
                {% include center %}
            {% else %}
                <section></section>
            {% endif %}
            </form>
        </div>
    </section>
    </body>
</html>