<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
{%load static%}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                {% if request.session.sessionid == None %}
                    <span></span>
                {% else %}
                    <span class="badge bg-dark text-white ms-1 rounded-pill" style="width:100px; height:24px;"><a href="/profile" style="color:white; text-decoration:none; vertical-align:middle;">프로필사진</a></span>&nbsp;&nbsp;
                    <span>{{request.session.sessionid}}</span>
                {% endif %}
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if request.session.sessionid == None %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout" style="white-space:nowrap; margin-right:15px;">로그아웃</a></li>
                            &nbsp;
                        </ul>
                    {% endif %}
                    <ul style="width:40rem"></ul>
                    <form class="d-flex">
                        <a class="navbar-brand" href="/">로고</a>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">자주 묻는 질문</a></li>
                                <li><a class="dropdown-item" href="#!">실시간 채팅 상담</a></li>
                                <li><a class="dropdown-item" href="/list">고객 상담 게시판</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
        </header>
        <br><br><br>
        <form action="/profileupdateimpl/{{Cust.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container" align="center">
                <div class="row col-xs-10 col-sm-10 col-md-4 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding:10px; background:#fff; border-top:solid; border-bottom:solid; border-width:1px;">
                    <div class="panel panel-info" style="padding-bottom:40px;">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:left; padding-top:20px;">
                                {% if request.session.sessionid == None %}
                                <img src="http://placeimg.com/100/100/any" style="width:50px; height:50px;">
                                {% else %}
                                <div style="text-align:left;"><img src="/static/img/{{Cust.custimg}}" style="width:100px; height:100px;">
                                {% endif %}
                                {{Cust.id}}</div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="padding:10px;">
                                <div id="profile" name="profile" class="col-md-6 col-lg-6 ">
                                    <table class="table table-user-information">
                                        <tbody style="text-align:left;">
                                            <tr>
                                                <td>이름</td>
                                                <td class="input-box" style="width:360px;">
                                                    <input class="pt-0" type="text" style="width:300px;" name="name" value="{{Cust.name}}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>생년월일</td>
                                                <td class="input-box" style="width:360px;">
                                                    <input id="custbday" type="date" name="birth" placeholder="생년월일"  value="{{Cust.birth}}" autocomplete="off">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>성별</td>
                                                <td class="input-box" style="width:360px;">
                                                    <div class="box-radio-input">
                                                        <input id="man" type="radio" name="gender" value="남" checked="checked" style="width:15px; height:15px;">
                                                        <span>남자</span>
                                                        <input id="woman" type="radio" name="gender" value="여" style="width:15px; height:15px;">
                                                        <span>여자</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>이메일</td>
                                                <td class="input-box" style="width:360px;">
                                                    <input class="pt-0" type="text" style="width:300px;" name="email" value="{{Cust.email}}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>연락처</td>
                                                <td class="input-box" style="width:360px;">
                                                    <input class="pt-0" type="text" style="width:300px;" name="phone" value="{{Cust.phone}}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>주소</td>
                                                <td class="input-box" style="width:360px;">
                                                    <input type="button" onclick="sample4_execDaumPostcode()" value="주소 찾기" style="border:1px solid grey; border-radius:3px;">
                                                    <input class="pt-0" type="text" style="width:300px;" value="{{Cust.address}}" id="sample4_roadAddress" name="address" placeholder="도로명주소">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                <script>
                                    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                                    function sample4_execDaumPostcode() {
                                        new daum.Postcode({
                                            oncomplete: function(data) {
                                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                                var roadAddr = data.roadAddress; // 도로명 주소 변수
                                                var extraRoadAddr = ''; // 참고 항목 변수

                                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                    extraRoadAddr += data.bname;
                                                }
                                                // 건물명이 있고, 공동주택일 경우 추가한다.
                                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                                }
                                                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                                if(extraRoadAddr !== ''){
                                                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                                                }

                                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                                document.getElementById("sample4_roadAddress").value = roadAddr;
                                            }
                                        }).open();
                                    }
                                    var date = new Date();
                                    var yyyy = date.getFullYear();
                                    var mm = (date.getMonth()+1) > 9 ? date.getMonth()+1 : '0' + (date.getMonth()+1);
                                    var dd = date.getDate() > 9 ? date.getDate() : '0' + date.getDate();

                                    $(document).ready(function(){$('input[type=date]').val(yyyy+"-"+mm+"-"+dd);});
                                </script>
                                <div class="col-md-6 col-lg-6">

                                    <table class="table table-user-information" style="text-align:left;">
                                        <tr>
                                            <td style="width:130px;">상호명</td>
                                            <td>상호명</td>
                                        </tr>
                                        <tr>
                                            <td>사업자등록번호</td>
                                            <td>123123123</td>
                                        </tr>
                                        <tr>
                                            <td>대표자명</td>
                                            <td>ㅁㄴㅇㄹㅋㅌㅊㅍ</td>
                                        </tr>
                                        <tr>
                                            <td>가게주소</td>
                                            <td>주우소</td>
                                        </tr>
                                    </table>
    <!--                                <div style="text-align:left;">&nbsp; &nbsp; <img src="empty" style="width:100px; height:100px;"></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <input type="submit" style="display:block; margin: 0 auto; font-size:14pt; border:none; width:250px; height:45px; border-radius:7px; background-color:#FFA722; color:white; text-align:center;" value="회원정보수정">
        </form>
    </body>
</html>