<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
{%load static%}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                {% if request.session.sessionid == None %}
                    <span></span>
                {% else %}
                    <a href="/profile/{{request.session.sessionid}}" style="color:white; text-decoration:none; vertical-align:middle;">
                        <img class="card-img-top" style="vertical-align:middle; display:block; width: 50px; height:50px;" src="/static/img/{{request.session.sessionimg}}" alt="..." />
                    </a>
                    <span>&nbsp;&nbsp;{{request.session.sessionid}}</span>
                {% endif %}
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if request.session.sessionid == None %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout" style="white-space:nowrap; margin-right:15px;">로그아웃</a></li>
                        </ul>
                    {% endif %}
                    <ul style="width:40rem"></ul>
                    <form class="d-flex">
                        <a class="navbar-brand" href="/"><img class="card-img-top" style="width: auto; height: 50px;" src="/static/img/images.png" alt="..." /></a>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/faq">자주 묻는 질문</a></li>
                                <li><a class="dropdown-item" href="#!">실시간 채팅 상담</a></li>
                                <li><a class="dropdown-item" href="/board">고객 상담 게시판</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
        </header>
        <br><br><br>
        <div class="container" align="center">
            <div class="row col-xs-10 col-sm-10 col-md-4 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding:10px; background:#fff; border-top:solid; border-bottom:solid; border-width:1px;">
                <div class="panel panel-info" style="padding-bottom:40px;">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:left; padding-top:20px;">
                            {% if request.session.sessionid == None %}
                            <img src="http://placeimg.com/100/100/any" style="width:50px; height:50px;">
                            {% else %}
                            <div style="text-align:left;"><img src="/static/img/{{Cust.custimg}}" style="width:100px; height:100px;">
                            {% endif %}
                            {{Cust.id}}</div>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="row" style="padding:10px;">
                            <div id="profile" name="profile" class="col-md-6 col-lg-6">
                                <table class="table table-user-information">
                                    <tbody style="text-align:left;">
                                        <tr>
                                            <td style="width:130px;">이름</td>
                                            <td>{{Cust.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>생년월일</td>
                                            <td>{{Cust.birth}}</td>
                                        </tr>
                                        <tr>
                                            <td>성별</td>
                                            <td>{{Cust.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>이메일</td>
                                            <td>{{Cust.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>연락처</td>
                                            <td>{{Cust.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>주소</td>
                                            <td>{{Cust.address}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <table class="table table-user-information" style="text-align:left;">
                                    <tr>
                                        <td style="width:130px;">상호명</td>
                                        <td>{{Rest.rest_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>대표자명</td>
                                        <td>{{Rest.host_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>음식점연락처</td>
                                        <td>{{Rest.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>음식점주소</td>
                                        <td>{{Rest.address}}</td>
                                    </tr>
                                    <tr>
                                        <td>개점시간</td>
                                        <td>{{Rest.openhour}}</td>
                                    </tr>
                                    <tr>
                                        <td>재료준비시간</td>
                                        <td>{{Rest.breakhour}}</td>
                                    </tr>
                                    <tr>
                                        <td>정보</td>
                                        <td>{{Rest.restindex}}</td>
                                    </tr>
                                    <tr>
                                        <td>음식점사진</td>
                                        <td style="text-align:left;"><img src="/static/img/{{Rest.restimg}}" style="width:100px; height:100px;"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <form style="position:absolute; left:50%; transform:translateX(-50%); text-align:center;">
            <input type="button" onclick="location.href='/profileupdate/{{request.session.sessionid}}'" style="font-size:14pt; border:none; width:250px; height:45px; border-radius:7px; background-color:#FFA722; color:white; " value="회원정보수정">
        </form>
        <br><br><br><br><br>
        <div class="container">
            <details>
                <summary>내가 작성한 리뷰</summary>
                <section class="" id="review2">
                    <div class="container px-5 my-1" style="border:1px solid; border-radius:10px">
                        <span class="nav-item" style="display: inline-block; width:200px; opacity: 0.5">사용자 아이디</span>
                        <span class="nav-item" style="opacity: 0.5">작성 날짜</span>
                        <span class="nav-item" style="display: inline-block; width:830px; opacity: 0.5"></span>
                        <!-- review edit delete-->
                        <span class="nav-item text-decoration-underline" style="display: inline-block; width:40px; opacity: 0.5"><a href="#">수정</a></span>
                        <span class="nav-item text-decoration-underline" style="opacity: 0.5"><a href="#">삭제</a></span>
                        <h1 class="lead fw-normal text-black mb-1 fs-6 float-start text-center" style="border:1px solid; width:4rem">서비스</h1>
                            <div class="d-flex justify-content-center small text-warning mb-2 float-start">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        <h1 class="mx-1 lead fw-normal text-black mb-1 fs-6 float-start text-center" style="border:1px solid; width:4rem">음식</h1>
                            <div class="d-flex justify-content-center small text-warning mb-2 float-start">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star"></div>
                            </div>
                        <h1 class="mx-1 lead fw-normal text-black mb-1 fs-6 float-start text-center" style="border:1px solid; width:4rem">가격</h1>
                            <div class="d-flex justify-content-center small text-warning mb-2 float-start">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-half"></div>
                            </div>
                        <h1 class="mx-5 lead fw-normal text-black mb-1 fs-6 float-start text-center" style="width:4rem">메뉴</h1>
                        <h1 class="mx-5 lead fw-normal text-black mb-1 fs-6 float-start text-center" style="width:4rem">인원</h1>
                        <h1 class="mx-5 lead fw-normal text-black mb-1 fs-6 float-start text-center" style="width:4rem">목적</h1>
                        <!-- review photo title content-->
                        <div class="" style="clear:both">
                            <div class="col-xxl-1 d-none d-xl-block float-start mx-2"><a href="#"><img class="img-fluid rounded-3 my-1" src="{% static 'img/food1.jpg' %}" alt="..." /></a></div>
                            <div class="col-xxl-1 d-none d-xl-block float-start mx-2"><a href="#"><img class="img-fluid rounded-3 my-1" src="{% static 'img/food2.jpg' %}" alt="..." /></a></div>
                        </div>
                        <div style="clear:both">
                            <div class="my-3"><h2 class="h3">review title title title</h2></div>
                            <div class="col-lg-8">
                                <p class="mb-0">예약 할 때 요청사항을 절 맞춰주셔서 일단 들어가면서부터 너무 맘에 들었구요. 음식도 맛있는데 심지어 양도 많기까지! 주차가 조금 어렵지만 이 주변 주차가 다 그러니까 그건 어디든 마찬가지 일거예요.예약 할 때 요청사항을 절 맞춰주셔서 일단 들어가면서부터 너무 맘에 들었구요. 음식도 맛있는데 심지어 양도 많기까지! 주차가 조금 어렵지만 이 주변 주차가 다 그러니까 그건 어디든 마찬가지 일거예요.예약 할 때 요청사항을 절 맞춰주셔서 일단 들어가면서부터 너무 맘에 들었구요. 음식도 맛있는데 심지어 양도 많기까지! 주차가 조금 어렵지만 이 주변 주차가 다 그러니까 그건 어디든 마찬가지 일거예요.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </details>
        </div>
    </body>
</html>
