<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
{%load static%}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                {% if request.session.sessionid == None %}
                    <span></span>
                {% else %}
                    <span class="badge bg-dark text-white ms-1 rounded-pill"><a href="/profile" style="color:white; text-decoration:none">프로필 사진</a></span>&nbsp;&nbsp;
                    <span>{{request.session.sessionid}}</span>
                {% endif %}
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if request.session.sessionid == None %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/logout" style="white-space:nowrap; margin-right:15px;">로그아웃</a></li>
                            &nbsp;
                        </ul>
                    {% endif %}
                    <ul style="width:40rem"></ul>
                    <form class="d-flex">
                        <a class="navbar-brand" href="/">로고</a>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">자주 묻는 질문</a></li>
                                <li><a class="dropdown-item" href="#!">실시간 채팅 상담</a></li>
                                <li><a class="dropdown-item" href="/list">고객 상담 게시판</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
        </header>
        <br><br><br>
        <div class="container" align="center">
            <div class="row col-xs-10 col-sm-10 col-md-4 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="padding:10px; background:#fff; border-top:solid; border-bottom:solid; border-width:1px;">
                <div class="panel panel-info" style="padding-bottom:40px;">
                    {% for Cust in profile %}
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">

                        <div class="row" style="padding:10px;">
                            <div id="profile" name="profile" class="col-md-6 col-lg-6">
                                <table class="table table-user-information">
                                    <tbody style="text-align:left;">
                                        <tr>
                                            <td style="width:130px;">이름</td>
                                            <td>{{Cust.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>아이디</td>
                                            <td>{{Cust.id}}</td>
                                        </tr>
                                        <tr>
                                            <td>비밀번호</td>
                                            <td>{{Cust.pwd}}</td>
                                        </tr>
                                        <tr>
                                            <td>생년월일</td>
                                            <td>{{Cust.birth}}</td>
                                        </tr>
                                        <tr>
                                            <td>성별</td>
                                            <td>{{Cust.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>이메일</td>
                                            <td>{{Cust.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>주소</td>
                                            <td>{{Cust.address}}</td>
                                        </tr>
                                        <tr>
                                            <td>연락처</td>
                                            <td>{{Cust.phone}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <table class="table table-user-information" style="text-align:left;">
                                    <tr>
                                        <td style="width:130px;">상호명</td>
                                        <td>상호명</td>
                                    </tr>
                                    <tr>
                                        <td>사업자등록번호</td>
                                        <td>123123123</td>
                                    </tr>
                                    <tr>
                                        <td>대표자명</td>
                                        <td>ㅁㄴㅇㄹㅋㅌㅊㅍ</td>
                                    </tr>
                                    <tr>
                                        <td>가게주소</td>
                                        <td>주우소</td>
                                    </tr>
                                </table>
                                <div style="text-align:left;">&nbsp; &nbsp; <img src="empty" style="width:100px; height:100px;"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <form style="position:absolute; left:50%; transform:translateX(-50%); text-align:center;">
            <input type="button" onclick="location.href='profileupdate'" style="font-size:14pt; border:none; width:250px; height:45px; border-radius:7px; background-color:#FFA722; color:white; " value="회원정보수정">
        </form>
        <br><br><br><br><br>
    </body>
</html>
