<!DOCTYPE html>
<html lang="en">
{%load static%}
    <head>
        <meta charset="utf-8" />
<!--        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
        <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{%static 'assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script language="javascript">
        // opener관련 오류가 발생하는 경우 아래 주석을 해지하고, 사용자의 도메인정보를 입력합니다. ("팝업API 호출 소스"도 동일하게 적용시켜야 합니다.)
        //document.domain = "abc.go.kr";

        function goPopup(){
            // 호출된 페이지(jusoPopup.jsp)에서 실제 주소검색URL(https://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
            var pop = window.open("/popup/jusoPopup.jsp","pop","width=570,height=420, scrollbars=yes, resizable=yes");

            // 모바일 웹인 경우, 호출된 페이지(jusoPopup.jsp)에서 실제 주소검색URL(https://www.juso.go.kr/addrlink/addrMobileLinkUrl.do)를 호출하게 됩니다.
            //var pop = window.open("/popup/jusoPopup.jsp","pop","scrollbars=yes, resizable=yes");
        }
        /** API 서비스 제공항목 확대 (2017.02) **/
        function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
                                , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
            // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
            document.form.roadAddrPart1.value = roadAddrPart1;
            document.form.roadAddrPart2.value = roadAddrPart2;
            document.form.addrDetail.value = addrDetail;
            document.form.zipNo.value = zipNo;
        }
        </script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <span class="badge bg-dark text-white ms-1 rounded-pill">프로필 사진</span>
<!--                <a class="navbar-brand" href="#!">프로필 사진</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login" style="white-space:nowrap; margin-right:15px;">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register" style="white-space:nowrap;">회원가입</a></li>
                    </ul>
                    <ul style="width:40rem"></ul>
                    <form class="d-flex">
                        <a class="navbar-brand" href="/">로고</a>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">자주 묻는 질문</a></li>
                                <li><a class="dropdown-item" href="#!">실시간 채팅 상담</a></li>
                                <li><a class="dropdown-item" href="#!">고객 상담 게시판</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <div>
                        <input style="width:50rem" type="text" placeholder="검색어 또는 태그 입력">
                        <button>Search</button>
                    </div>
<!--                    음식점 태그-->
                    <p class="lead fw-normal text-white-50 mb-0">
                        <a class="text-white-50 mb-0" href="#!">#tag</a>
                        <a class="text-white-50 mb-0" href="#!">#tag</a>
                        <a class="text-white-50 mb-0" href="#!">#tag</a>
                        <a class="text-white-50 mb-0" href="#!">#tag</a>
                        <a class="text-white-50 mb-0" href="#!">#tag</a>
                    </p>
                </div>
            </div>
        </header>

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;   ctrl + /     -->
        <section class="p-5">
            <div class="m-5" style="position:absolute; left:50%; transform:translateX(-50%); width:50%;">
                <header class="container p-5" style="text-align:center;">
                    <h2>회원가입</h2>
                </header>
                <form name="registerform" enctype="multipart/form-data" action="./register" method="POST" style="text-align:center;">
                    <div class="labelfield">
                        <label for="userId">아이디</label>
                    </div>
                    <div class="formfield">
                        <input type="text" id="userId" name="userId" maxlength="20" value="">
                    </div>
                    <div class="labelfield">
                        <label for="userPw">패스워드</label>
                    </div>
                    <div class="formfield">
                        <input type="password" id="userPw" name="userpPw" maxlength="20" value="" autocomplete="off" onchange="isSame()">
                    </div>
                    <div class="labelfield">
                        <label for="userPwCheck">패스워드확인</label>
                    </div>
                    <div class="formfield">
                    <input type="password" id="userPwCheck" name="userPwCheck" maxlength="20" value="" autocomplete="off" onchange="isSame()">&nbsp;&nbsp;<span id="same"></span>
                    </div>
                    <div class="labelfield">
                        <label for="userName">이름</label>
                    </div>
                    <div class="formfield">
                        <input type="text" id="userName" name="userName" value="">
                    </div>
                    <div class="labelfield">
                        <label for="userBday">생년월일</label>
                    </div>
                    <div class="formfield">
                        <input type="date" id="userBday" name="userBday">
                    </div>
                    <div class="labelfield">
                        <label>성별</label>
                    </div>
                    <div class="formfield">
                        <input type="radio" name="Gender" value="남" alt="남자" checked>남자
                        <input type="radio" name="Gender" value="여" alt="여자" >여자
                    </div>
                    <div class="labelfield">
                        <label for="email01">이메일</label>
                    </div>
                    <div class="formfield">
                        <input type="text" id="email01" name="email01" size="20" maxlength="20" value="" autocomplete="off">
                        <span>@</span>
                        <input id="email02" name="email02" list="domains" placeholder="도메인입력/선택">
                        <datalist id="domains">
                            <option value="naver.com">
                            <option value="daum.net">
                            <option value="gmail.com">
                            <option value="yahoo.co.kr">
                            <option value="msn.com">
                        </datalist>
                    </div>
                    <div class="labelfield">
                        <label for="mPhone1">연락처</label>
                    </div>
                    <div class="formfield">
                        <select id="mPhone1" name="mPhone1">
                            <option value="010" selected>010</option>
                            <option value="011">011</option>
                            <option value="016">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                        </select>-
                        <input id="mPhone2" name="mPhone2" type="number" value="" size="4" maxlength="4" autocomplete="off">-
                        <input id="mPhone3" name="mPhone3" type="number" value="" size="4" maxlength="4" autocomplete="off">
                    </div>
                    <div class="labelfield">
                        <label for="profile">
                            프로필사진
                        </label>
                    </div>
                    <div class="formfield">
                        <input type="file" id="profile" name="profile">
                    </div>
                    <div class="labelfield">
                        <label for="userAddr">
                            주소
                        </label>
                    </div>
                    <div class="formfield">
                        <table >
                            <colgroup>
                                <col style="width:20%"><col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>우편번호</th>
                                    <td>
                                        <input type="hidden" id="confmKey" name="confmKey" value="devU01TX0FVVEgyMDIyMDMwODE3MzcwNjExMjMyNTU="  >
                                        <input type="text" id="zipNo" name="zipNo" readonly style="width:100px">
                                        <input type="button"  value="주소검색" onclick="goPopup();">
                                    </td>
                                </tr>
                                <tr>
                                    <th>도로명주소</th>
                                    <td><input type="text" id="roadAddrPart1" style="width:85%"></td>
                                </tr>
                                <tr>
                                    <th>상세주소</th>
                                    <td>
                                        <input type="text" id="addrDetail" style="width:40%" value="">
                                        <input type="text" id="roadAddrPart2"  style="width:40%" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="formfield">
                        <input type="text" id="userAddr" name="userAddr">
                    </div>
                    <div class="btnfield">
                        <input type="submit" value="회원가입">
                    </div>

                </form>
            </div>

        </section>
    </body>
</html>