<script>
    function star(rate){
                var result = '';
                 switch (rate) {
                    case 0:
                        result = '<div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 0.5:
                        result = '<div class="bi-star-half"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 1:
                        result = '<div class="bi-star-fill"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 1.5:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-half"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 2:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 2.5:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-half"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 3:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star"></div><div class="bi-star"></div>';
                        break;
                    case 3.5:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-half"></div><div class="bi-star"></div>';
                        break;
                    case 4:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star"></div>';
                        break;
                    case 4.5:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-half"></div>';
                        break;
                    case 5:
                        result = '<div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div><div class="bi-star-fill"></div>';
                        break;
                 }
                 return result;
            };

<!--            function make_list(restimg){-->
<!--                var list = restimg.split(' ');-->
<!--                return list;-->
<!--            };-->

            $(document).ready(function(){
                var result = '';
                result = star(Math.round({{review.s_rating}}*2)/2);
                 $('#ratings').html(result);
            });

<!--            $(document).ready(function(){-->
<!--                list = make_list('{{rest.restimg}}');-->
<!--                for(var i = 0; i < list.length; i++){-->
<!--                    var result = '';-->
<!--                    result += '<div class="col-xl-4 col-xxl-2 d-none d-xl-block text-center"><a href="#"><img class="img-fluid rounded-3 my-5" src="/static/img/';-->
<!--                    result += list[i];-->
<!--                    result += '" alt="..." /></a></div>';-->
<!--                    $('#mainimg').append(result);-->
<!--                }-->
<!--            });-->
</script>
<section>
    <div class="col mb-5" id="mainimg">
        <div class="card h-100">
             <img class="card-img-top" src="/static/img/burger.jpg" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{rest.rest_name}}</h5>
                        <div class="d-flex justify-content-center small text-warning mb-2" id="rating">
                        </div>
                           </div>
                              </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                       <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/restDetail">View details</a></div>
                   </div>
            </div>
      </div>
</section>